[client]
default-character-set = utf8mb4
ssl = 0

[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
bind-address    = 0.0.0.0

# Désactive le ssl
skip-ssl
ssl=0

# Répertoire de la base de données
datadir         = /var/lib/mysql

# Charset par défaut
character-set-server = utf8mb4
collation-server      = utf8mb4_unicode_ci

# Eviter l'erreur de connexion root depuis le conteneur
skip-host-cache
skip-name-resolve

# Log pour debug si besoin
log-error = /var/log/mysql/error.log
